body {
    background: yellow;
    color: black;
}

body::before {
    content: 'SCSS has loaded';
    position: fixed;
    top: 20px;
    right: 20px;
    background: white;
    color: black;
    padding: 10px 15px;
    border-radius: 10px;
    border: 2px solid black;
    z-index: 9999;
    font-weight: bold;

    &::after {
        content: '';
        position: absolute;
        bottom: -10px;
        right: 20px;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid black;
    }
}
